*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*:after{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

:focus,:active{outline: none;}
a :focus, a :active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input ::-ms-clear{display: none;}
button{cursor: pointer;}
button ::-moz-focus-inner{padding: 0; border: 0;}
a,a :visited{text-decoration: none;}
a :hover{text-decoration: none;}
ul li {list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}


/*======================ОБЩИЕ СТИЛИ================================*/
body{
    background-color: #FAFBFD;
}
.button-blue {
    font-family: Raleway;
    font-weight: 800;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    background-color: var(--color-blue);
    border-radius: 5px;
    padding: 15px 30px;
    color: var(--color-white); 
}
.button-red {
    font-family: Raleway;
    font-weight: 800;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    background-color: var(--color-red);
    border-radius: 5px;
    padding: 15px 30px;
    color: var(--color-white);
}
.title {
    font-family: Rubik;
    font-weight: 700;
    font-size: 44px;
    line-height: 125%;
    color: #000;
}
.subtitle {
    font-family: Rubik;
    font-size: 12px;
    font-weight: 400;
    line-height: 141%;
    letter-spacing: 1px;
    color: #616161;
}
.container {
    width: 1040px;
    margin: 0 auto;
}

:root {
    --color-red: #EC5863;
    --color-blue: #4285f4;
    --color-white: #FCFDFE;
}
/*==============MENU===========================*/
.menu__container {
    padding: 35px 15px;
}  
.menu__body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu__list {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;

    position: relative;
    z-index: 20;
}
.list__items {  
    display: flex;     
}
.menu__link {
    font-family: Rubik;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000;
    padding: 0px 20px;
}
.menu__link:hover {
    color: var(--color-blue);
    border-bottom: 3px solid var(--color-blue);
}
.menu__button {
    display: flex;
    flex: 0 0 252px;
    justify-content: flex-end;   
    position: relative;
    z-index: 20;
}
.menu__button-blue {
    transition-duration: 0.5s;
}
.menu__button-blue:hover{
    transform: scale(0.8);
}
/*==============CONTENT===========================*/
.content__container {
    padding: 0px 15px;
}
.content__body {
    display: flex;
}
.content__container::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 75%;
    top: 0;
    left: 1220px;
    background-color: var(--color-red);
    border-radius: 30px 0px 0px 30px;
}
.content__title span {
    color: var(--color-blue);
}
.content__text{
    flex: 0 1 50%;

    padding-top: 170px;
}
.content__subtitle {
    padding: 12px 20px 24px 0px;
}
.content__button-red {
    margin: 0px 0px 15px 0px;
    transition-duration: 0.5s;
}
.content__button-red:hover{
    transform: scale(0.8); 
}
.content__img {
    flex: 0 1 50%;
    position: relative;
    z-index: 20;

    padding-top: 80px;
}
._ibg img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content__player_body {
    display: flex;
    padding: 60px 15px 48px 0px;
}
.content__player-icon {
    padding-right: 12px;
}
.content__player-text {
    margin: 5px 0px;
}
.content__player-title {
    font-family: Rubik;
    font-size: 13px;
    font-weight: 400;
    line-height: 123%;
    letter-spacing: 1px;
    padding-bottom: 5px;
}
.content__player-subtitl {
    font-family: Rubik;
    font-size: 9px;
    font-weight: 400;
    line-height: 122%;
    letter-spacing: 1px;
}
/*==============GOCORONA===========================*/
.gocorona__container {
    padding: 79px 15px;
}
.gocorona__body {
    display: flex;
    align-items: center;
}
.gocorona__phone {  
    flex: 1 1 50%;
}
.gocorona__text {
    flex: 1 1 50%;
}
.gocorona__subtitle {
    padding: 12px 0px 24px 0px;
}
.gocorona__title span{
    color: var(--color-red);
}
.gocorona__button-red {
    text-transform: uppercase;
    padding: 15px 40px;
    margin-bottom: 40px;
    transition-duration: 0.5s;
}
.gocorona__button-red:hover{
    transform: scale(0.8); 
}
/*==============EXPERTS===========================*/
.experts__container {
    padding: 105px 15px 0px 15px;
}
.experts__list {
    display: flex;
    justify-content: center;

    max-width: 654px;
    margin: 0 auto;

    box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
    border-radius: 16px;
}
.experts__number {
    font-family: Rubik;
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 4px;
    padding: 28px 52px 0px 52px;
    color: var(--color-red);
    text-align: center;
}
.experts__word {
    font-family: Rubik;
    font-size: 11px;
    font-weight: 700;
    line-height: 13px;
    letter-spacing: 4px;
    color: #000;
    padding: 5px 52px 28px 52px;
    text-transform: uppercase;
}
.experts__box {
    position: relative;
}
.experts__decor {
    position: absolute;
}
.decor_1 {
    width: 66px;
    height: 66px;
    background: var(--color-red);
    border-radius: 16px;
    transform: rotate(-30deg);
    bottom: -27px;
    left: 155px;
}
.decor_2 {
    width: 97px;
    height: 97px;
    background: var(--color-red);
    border-radius: 30px;
    transform: rotate(105deg);
    top: -75px;
    right: 510px;
}
.decor_3 {
    width: 127px;
    height: 127px;
    background: var(--color-red);
    border-radius: 30px;
    transform: rotate(-30deg);
    bottom: -5px;
    right: 80px;
}
.experts__content {
    display: flex;
    padding: 80px 0px 115px 0px;
}
.experts__text {
    padding: 50px 0px 15px;
    flex: 0 1 50%;
}
.experts__title span {
    color: var(--color-blue);
}
.experts__subtitle {
    padding: 12px 75px 24px 0px;
}
.experts__button-red {
    text-transform: uppercase;
    padding: 15px 40px;
    margin-bottom: 40px;
    transition-duration: 0.5s;
}
.experts__button-red:hover{
    transform: scale(0.8); 
}
.experts__video {
    flex: 0 1 50%;
    padding: 0px 0px 25% 0px;
    position: relative;
}
.experts__video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}
/*==============HELTHCARE===========================*/
.healthcare__container {
    padding: 80px 15px 75px 15px;
}
.healthcare__body {
    text-align: center;
}
.healthcare__title {
    padding-bottom: 14px;
}
.healthcare__title span {
    color: var(--color-red);
}
.healthcare__subtitle {
    padding-bottom: 46px;
    max-width: 600px;
    margin: 0 auto;
}
.healthcare__content {
    max-width: 980px;
    margin: 0 auto;
}
.healthcare__content-body {
    position: relative;
}
.healthcare__colums {
   display: flex;
   text-align: center;
   gap: 72px;
}
.healthcare__item {
    padding: 37px 25px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
    border-radius: 8px;
    z-index: 800;
    flex: 0 1 33.333%;
}
.healthcare__item:first-child {
    padding: 37px 18px;
}
.healthcare__icon {
    padding-bottom: 58px;
}
.healthcare__top {
    font-family: Rubik;
    font-size: 16px;
    font-weight: 700;
    line-height: 137.5%;
    letter-spacing: 1px;    
    padding-bottom: 4px;
}
.healthcare__text {
    font-family: Rubik;
    font-size: 12px;
    font-weight: 400;
    line-height: 141%;
    letter-spacing: 1px;
}
.healthcare__decor{
    position: absolute;
}
.decor_11 {
    width: 66px;
    height: 66px;
    background: var(--color-red);
    border-radius: 16px;
    transform: rotate(-30deg);
    bottom: -30px;
    left: -22px;
}
.decor_12 {
    width: 97px;
    height: 97px;
    background: var(--color-red);
    border-radius: 30px;
    transform: rotate(105deg);  
    bottom: 145px;
    left: 240px;
}
.decor_13 {
    width: 127px;
    height: 127px;
    background: var(--color-red);
    border-radius: 30px;
    transform: rotate(-30deg);
    bottom: -10px;
    left: 585px;
}
.decor_14 {
    width: 66px;
    height: 66px;
    background: var(--color-red);
    border-radius: 16px;
    transform: rotate(-30deg);
    top: -30px;
    right: -25px;
}
/*==============FOOTER===========================*/
.footer__container {
    padding-bottom: 47px;
}
.footer__item {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.footer__link-playmarket {
    padding-right: 57px;
}